{% extends "recipe.html" %}

{% block actions %}
    <li>
        <a href="/recipe/{{ recipe.id }}" class="button-link">View recipe</a
        ><br />
    </li>
    {% if recipe.is_draft %}
        <li>
            <form method="post" action="/recipe/{{ recipe.id }}/edit/publish">
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ session.csrf_token }}"
                />
                <button type="submit" name="action" value="publish">
                    Publish recipe
                </button>
            </form>
        </li>
    {% else %}
        <li>
            <form method="post" action="/recipe/{{ recipe.id }}/edit/publish">
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ session.csrf_token }}"
                />
                <button type="submit" name="action" value="unpublish">
                    Unpublish recipe
                </button>
            </form>
        </li>
    {% endif %}
    <li>
        <a class="button-link" href="/recipe/{{ recipe.id }}/edit/rename"
            >Rename recipe</a
        >
    </li>
    <li>
        <form method="post" action="/recipe/{{ recipe.id }}/edit/delete">
            <input
                type="hidden"
                name="csrf_token"
                value="{{ session.csrf_token }}"
            />
            <button type="submit">Delete recipe</button>
        </form>
    </li>
{% endblock actions %}

{% block tags %}
    <form method="post" action="/recipe/{{ recipe.id }}/edit/tags">
        <input
            type="hidden"
            name="csrf_token"
            value="{{ session.csrf_token }}"
        />
        {% if recipe.tags %}
            It has the following tags:
            {% for tag in recipe.tags %}
                {{ tag.name }}
                (<button
                    type="submit"
                    name="action"
                    value="remove:{{ loop.index0 }}"
                >
                    x</button
                >)
            {% endfor %}
        {% endif %}
        <br /><br />
        <input type="text" placeholder="New tag" name="new_tag" />
        <button type="submit" name="action" value="new">Add tag</button>
    </form>
{% endblock tags %}

{% block ingredients %}
    <a class="button-link" href="/recipe/{{ recipe.id }}/edit/ingredients"
        >Edit ingredients</a
    >
    {{ super() }}
{% endblock ingredients %}

{% block instructions %}
    <a class="button-link" href="/recipe/{{ recipe.id }}/edit/instructions"
        >Edit recipe steps</a
    >
    {{ super() }}
{% endblock instructions %}

{% block reviews %}
{% endblock reviews %}
