{% extends "recipe.html" %}

{% block title %}
    {{ super() }}
{% endblock title %}

{% block actions %}
    <a href="/recipe/{{ recipe.id }}/edit/rename"
        ><button>Rename recipe</button></a
    >
    <form method="post" action="/recipe/{{ recipe.id }}/edit/delete">
        <button type="submit">Delete recipe</button>
    </form>
{% endblock actions %}

{% block tags %}
    {{ super() }}
    <a href="/recipe/{{ recipe.id }}/edit/tags"><button>Edit tags</button></a>
{% endblock tags %}

{% block ingredients %}
    <a href="/recipe/{{ recipe.id }}/edit/ingredients"
        ><button>Edit ingredients</button></a
    >
    {{ super() }}
{% endblock ingredients %}

{% block instructions %}
    <a href="/recipe/{{ recipe.id }}/edit/instructions"
        ><button>Edit recipe steps</button></a
    >
    {{ super() }}
{% endblock instructions %}
