{% extends "edit/edit.html" %}

{% block tags %}
    <form method="post">
        <p>
            {% if recipe.tags %}
            Tags:
            {% for tag in recipe.tags %}
                {{ tag.name }} (<button
                    type="submit"
                    name="action"
                    value="remove:{{ loop.index0 }}"
                >
                    x</button
                >)
            {% endfor %}
            {% else %}
            No tags.
            {% endif %}
        </p>
        <input type="text" placeholder="New tag" name="new_tag" />
        <button type="submit" name="action" value="new">Add tag</button>
        <br />
        <button type="submit" name="action" value="done">Done</button
    </form>
{% endblock tags %}
