body {
    margin: auto;
    margin-bottom: 5em;
    max-width: 900px;
    font-family: Palatino, "Book Antiqua", Georgia, serif;
    line-height: 1.5;
    background-color: oldlace;
}

a {
    color: maroon;
}

button {
    background-color: maroon;
    color: white;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 4px;
    font: inherit;
    font-size: 0.8rem;
    font-family: sans-serif;
}

.button-link {
    background-color: maroon;
    color: white;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-family: sans-serif;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    color: maroon;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.main-nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.main-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    padding: 0 0.5em;
    margin: 0;
}

.main-nav li:not(:last-of-type) {
    border-right: 1px solid black;
}

.message {
    background-color: steelblue;
    color: white;
    padding: 0.6em;
    margin: 1em auto;
}

.message.error {
    background-color: firebrick;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    gap: 1em;
    overflow-wrap: anywhere;
}

.recipe-grid li {
    background-color: #efe1c5;
    padding: 1em;
}

.recipe-grid .title {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.recipe-grid .author {
    margin: 0.25em 0;
    font-size: 0.9rem;
}

.pagination {
    text-align: right;
    font-weight: bold;
}

.tag-list {
    column-count: 3;
}

.tag {
    padding: 0.2em;
}

.review {
    padding-top: 0;
    padding: 0.5em;
    margin: 1em 0;
    background-color: #efe1c5;
}

.review-header {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0.5em;
}

.review-content {
    margin: 0.5em;
    overflow-wrap: anywhere;
}

.review-header .review-title {
    grid-column: 1;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

.review-header .date {
    grid-column: 2;
    font-style: italic;
    margin: 0;
}
