<!doctype html>
<html>
    <head>
        <title>Recipes</title>
    </head>

    <body>
        <h1>Recipes</h1>
        <p>
            <a href="/">Home</a> | {%if session.username %}
            <a href="/create-recipe">New recipe</a> | You are logged in as {{
            session.username }} |
            <a href="/logout">Log out</a>
            {% else %}
            <a href="/login">Log in</a> |
            <a href="/register">Register</a>
            {% endif %}
        </p>
        <hr />
        <h2>{{ recipe.title }}</h2>
        <form method="post">
            <input type="text" name="title" />
            <input type="submit" value="Rename" />
        </form>
    </body>
</html>
