{% extends "layout.html" %} {% block content %}

<form method="post">
    <h2>{{ recipe.title }}</h2>
    <input
        type="text"
        name="title"
        placeholder="New recipe title"
        maxlength="100"
    />
    <button type="submit" name="action" value="rename">Rename recipe</button>
    <p>Tags: {% for tag in recipe.tags %} {{ tag.name }} {% endfor %}</p>
    <input
        type="text"
        name="tag_name"
        placeholder="Tag recipe"
        maxlength="20"
    />
    <button type="submit" name="action" value="tag">Add tag</button>
    <h3>Ingredients</h3>
    <ul>
        {% for ingredient in recipe.ingredients %}
        <li>
            {{ ingredient.content }}
            <button
                type="submit"
                name="action"
                value="remove_ingredient:{{ ingredient.id }}"
            >
                Remove
            </button>
        </li>
        {% endfor %}
        <input
            type="text"
            name="ingredient_content"
            placeholder="New ingredient"
            maxlength="100"
        />
        <button type="submit" name="action" value="add_ingredient">
            Add ingredient
        </button>
    </ul>
    <h3>Preparation</h3>
    <ol>
        {% for instruction in recipe.instructions %}
        <li>
            {{ instruction.content }}
            <button
                type="submit"
                name="action"
                value="remove_instruction:{{ instruction.id }}"
            >
                Remove
            </button>
        </li>
        {% endfor %}
        <li>
            <textarea
                name="instruction_content"
                rows="5"
                cols="20"
                placeholder="New recipe step"
                maxlength="2000"
            ></textarea>
            <br />
            <button type="submit" name="action" value="add_instruction">
                Add step
            </button>
        </li>
    </ol>
</form>

<form method="post" action="/recipe/{{recipe.id}}/delete">
    <button type="submit" name="action" value="delete">Delete recipe</button>
</form>

<a href="/recipe/{{ recipe.id }}">View recipe</a>
{% endblock %}
