{% extends "layout.html" %} {% block content %}
<h2>{{ recipe.title }}</h2>

<form method="post" action="/recipe/{{ recipe.id }}/rename">
    <input type="text" name="title" placeholder="New recipe title" maxlength="100" />
    <button type="submit">Rename recipe</button>
</form>

<p>
    Tags: {% for tag in recipe.tags %} {{ tag.name }} (
    <form method="post" action="/recipe/{{ recipe.id }}/untag/{{ tag.id }}">
        <button type="submit">Delete</button>
    </form>
    ) {% endfor %}
</p>

<form method="post" action="/recipe/{{ recipe.id }}/tag">
    <input type="text" name="tag_name" placeholder="Tag recipe" maxlength="20" />
    <button type="submit">Add tag</button>
</form>

<h3>Ingredients</h3>
<ul>
    {% for ingredient in recipe.ingredients %}
    <li>
        {{ ingredient.content }}
        <form method="post" action="/recipe/{{ recipe.id }}/remove-ingredient/{{ ingredient.id }}">
            <button type="submit">Remove</button>
        </form>
    </li>
    {% endfor %}
</ul>
<form method="post" action="/recipe/{{ recipe.id }}/add-ingredient">
    <input type="text" name="ingredient_content" placeholder="New ingredient" maxlength="100" />
    <button type="submit">Add ingredient</button>
</form>

<h3>Preparation</h3>
<ol>
    {% for instruction in recipe.instructions %}
    <li>
        {{ instruction.content }}
        <form method="post" action="/recipe/{{ recipe.id }}/remove-instruction/{{ instruction.id }}">
            <button type="submit">Remove</button>
        </form>
    </li>
    {% endfor %}
</ol>
<form method="post" action="/recipe/{{ recipe.id }}/add-instruction">
    <textarea name="instruction_content" rows="5" cols="20" placeholder="New recipe step" maxlength="2000"></textarea>
    <br />
    <button type="submit">Add step</button>
</form>

<form method="post" action="/recipe/{{ recipe.id }}/delete">
    <button type="submit">Delete recipe</button>
</form>

<a href="/recipe/{{ recipe.id }}">View recipe</a>
{% endblock %}
