<!doctype html>
<html>
    <head>
        <title>Recipes</title>
    </head>

    <body>
        <h1>Recipes</h1>
        {% if session.username %}
        <p>
            You are logged in as {{ session.username }} |
            <a href="/logout">Log out</a>
        </p>
        {% else %}
        <p>
            <a href="/login">Log in</a> |
            <a href="/register">Register</a>
        </p>
        {% endif %}
        <hr />
        <h2>All recipes</h2>
        <ul>
            {% for recipe in recipes %}
            <li>
                <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a> by
                {{recipe.username}}
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
