<!doctype html>
<html>
    <head>
        <title>Recipes - {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="/static/main.css" />
        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <h1>Recipes</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                {% if session.user_id %}
                    <li><a href="/new">New recipe</a></li>
                {% endif %}
            </ul>
            <ul>
                {% if session.user_id %}
                    <li>
                        <a href="/user/{{ session.username }}"
                            >{{ session.username }}
                        </a>
                    </li>
                    <li><a href="/logout">Log out</a></li>
                {% else %}
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        <hr />
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="message {{ category }}">{{ message }}</div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </body>
</html>
