<!doctype html>
<html>
    <head>
        <title>Recipes</title>
        <link rel="stylesheet" href="/static/main.css" />
    </head>

    <body>
        <h1>Recipes</h1>
        <p>
            <a href="/">Home</a> | <a href="/search">Search</a> |
            {%
                if
                session.user_id
            %}
                <a href="/new">New recipe</a> |
                <a href="/logout">Log out</a>
            {% else %}
                <a href="/login">Log in</a> |
                <a href="/register">Register</a>
            {% endif %}
        </p>
        <hr />
        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if category == "error" %}
                <p>
                    <b>ERROR: {{ message }}</b>
                </p>
            {% else %}
                <p>
                    <b>{{ message }}</b>
                </p>
            {% endif %}
        {% endfor %}
        {% block content %}
        {% endblock %}
    </body>
</html>
