{% macro recipe_list(recipes) %}
    {% if recipes %}
        <ul class="recipe-grid">
            {% for recipe in recipes %}
                <li>
                    <a href="/recipe/{{ recipe.id }}" class="title"
                        >{{ recipe.title }}</a
                    >
                    <br />
                    by {{ recipe.username }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes found.</p>
    {% endif %}
{% endmacro %}

{% macro review_list(reviews) %}
    {% for review in reviews %}
        <div class="review">
            <b>Review from {{ review.username }}</b> <br />
            <i>{{ review.created_at }}</i> <br />
            Rating: {{ review.rating }} <br />
            Comment: {{ review.content }}
        </div>
    {% endfor %}
{% endmacro %}
