{% macro recipe_list(recipes) %}
    <ul class="recipe-grid">
        {% for recipe in recipes %}
            <li>
                <a href="/recipe/{{ recipe.id }}" class="title"
                    >{{ recipe.title }}</a
                >
                <br />
                <p class="author">
                    by
                    <a href="/user/{{ recipe.username }}"
                        >{{ recipe.username }}</a
                    >
                </p>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro tag_list(tags) %}
    <ul class="tag-list">
        {% for tag in tags %}
            <li class="tag">
                <a href="/tag/{{ tag.name }}">{{ tag.name }}</a>
                ({{ tag.recipe_count }})
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro show_review(review, edit) %}
    <div class="review">
        <div class="review-header">
            {% if review.title %}
                <a class="review-title" href="/recipe/{{ review.id }}"
                    >{{ review.title }}</a
                >
            {% elif review.username %}
                <a class="review-title" href="/user/{{ review.username }}"
                    >{{ review.username }}</a
                >
            {% endif %}
            <p class="date">{{ review.updated_at }}</p>
            {% if review.rating %}
                <div class="rating">
                    {{ "★" * review.rating }}{{ "☆" * (5 - review.rating) }}
                </div>
            {% endif %}
        </div>
        <div class="review-content">{{ review.content }}</div>
        {% if edit %}
            <a href="/recipe/{{ review.recipe_id }}/review"
                ><button>Edit</button>
            </a>
        {% endif %}
    </div>
{% endmacro %}

{% macro review_list(reviews) %}
    {% for review in reviews %}
        {{ show_review(review, False) }}
    {% endfor %}
{% endmacro %}
