{% macro recipe_list(recipes) %}
    <ul class="recipe-grid">
        {% for recipe in recipes %}
            <li>
                <h3 class="title">
                    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
                </h3>
                <p class="author">
                    by
                    <a href="/user/{{ recipe.username }}"
                        >{{ recipe.username }}</a
                    >
                </p>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro tag_list(tags) %}
    <ul class="tag-list">
        {% for tag in tags %}
            <li class="tag">
                <a href="/tag/{{ tag.name }}">{{ tag.name }}</a>
                ({{ tag.recipe_count }})
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro show_review(review, edit) %}
    <article class="review">
        <header class="review-header">
            {% if review.title %}
                <h3 class="review-title">
                    <a href="/recipe/{{ review.id }}">{{ review.title }}</a>
                </h3>
            {% elif review.username %}
                <h3 class="review-title">
                    <a href="/user/{{ review.username }}">{{ review.username }}</a>
                </h3>
            {% endif %}
            <p class="date">
                <time datetime="{{ review.updated_at | replace(' ', 'T') }}"
                    >{{ review.updated_at }}</time
                >
            </p>
            {% if review.rating %}
                <div class="rating">
                    {{ "★" * review.rating }}{{ "☆" * (5 - review.rating) }}
                </div>
            {% endif %}
        </header>
        <div class="review-content">{{ review.content | show_lines }}</div>
        {% if edit %}
            <a class="button-link" href="/recipe/{{ review.recipe_id }}/review"
                >Edit</a
            >
        {% endif %}
    </article>
{% endmacro %}

{% macro review_list(reviews) %}
    {% for review in reviews %}
        {{ show_review(review, False) }}
    {% endfor %}
{% endmacro %}
