{% extends "layout.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/recipe.css" />
{% endblock %}

{% block content %}
    <div class="recipe">
        <div class="actions">
            <ul>
                {% block actions %}
                    {% if recipe.is_author %}
                        <li>
                            <a href="/recipe/{{ recipe.id }}/edit"
                                ><button>Edit recipe</button>
                            </a>
                        </li>
                    {% endif %}
                    {% if session.user_id %}
                        <li>
                            <form
                                method="post"
                                action="/recipe/{{ recipe.id }}/favorite"
                            >
                                {% if recipe.is_favorite %}
                                    <button
                                        type="submit"
                                        name="action"
                                        value="unfavorite"
                                    >
                                        Unfavorite recipe
                                    </button>
                                {% else %}
                                    <button
                                        type="submit"
                                        name="action"
                                        value="favorite"
                                    >
                                        Favorite recipe
                                    </button>
                                {% endif %}
                            </form>
                        </li>
                    {% endif %}
                {% endblock actions %}
            </ul>
        </div>

        <div class="tags">
            {% block tags %}
                {% if recipe.tags %}
                    <p>
                        Tags:
                        {% for tag in recipe.tags %}
                            <a href="/tag/{{ tag.name }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                {% endif %}
            {% endblock tags %}
            <p>Last modified: {{ recipe.updated_at }}</p>
        </div>

        <div class="ingredients">
            <h3>Ingredients</h3>
            {% block ingredients %}
                {% if recipe.ingredients %}
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ ingredient.content }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>This recipe doesn't include any ingredients yet.</p>
                {% endif %}
            {% endblock ingredients %}
        </div>

        <div class="instructions">
            <h3>Preparation</h3>
            {% block instructions %}
                {% if recipe.instructions %}
                    <ol>
                        {% for instruction in recipe.instructions %}
                            <li>{{ instruction.content }}</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    This recipe doesn't have any preparation steps yet.
                {% endif %}
            {% endblock instructions %}
        </div>
    </div>
{% endblock content %}
