{% extends "layout.html" %}
{% block content %}

    {% block title %}
        <h2>{{ recipe.title }}</h2>
    {% endblock title %}

    {% block actions %}
    {% endblock actions %}

    {% block tags %}
        <p>
            Tags:
            {% for tag in recipe.tags %}
                <a href="/tag/{{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </p>
    {% endblock tags %}

    {% block ingredients %}
        <h3>Ingredients</h3>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient.content }}</li>
            {% endfor %}
        </ul>
    {% endblock ingredients %}

    {% block instructions %}
        <h3>Preparation</h3>
        <ol>
            {% for instruction in recipe.instructions %}
                <li>{{ instruction.content }}</li>
            {% endfor %}
        </ol>
    {% endblock instructions %}

    {% if is_author %}
        <a href="/recipe/{{ recipe.id }}/edit">Edit recipe</a>
    {% endif %}
{% endblock content %}
