{% from "macros.html" import recipe_list %}
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h2>{{ title }}</h2>
    {{ recipe_list(recipes) }}

    <p class="pagination">
        {% if page > 1 %}
            <a href="?page={{ page-1 }}"><button>←</button></a>
        {% endif %}
        Page {{ page }} / {{ page_count }}
        {% if page < page_count %}
            <a href="?page={{ page+1 }}"><button>→</button></a>
        {% endif %}
    </p>
{% endblock %}
