{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/recipe.css" />
{% endblock %}

{% block content %}
    <div class="recipe">
        <div class="title">
            {% block title %}
                <h2>{{ recipe.title }}</h2>
            {% endblock title %}
        </div>

        <div class="actions">
            {% block actions %}
                {% if is_author %}
                    <a href="/recipe/{{ recipe.id }}/edit"
                        ><button>Edit recipe</button></a
                    >
                {% endif %}
            {% endblock actions %}
        </div>

        <div class="tags">
            {% block tags %}
                {% if recipe.tags %}
                    <p>
                        Tags:
                        {% for tag in recipe.tags %}
                            <a href="/tag/{{ tag.name }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                {% endif %}
            {% endblock tags %}
        </div>

        <div class="ingredients">
            <h3>Ingredients</h3>
            {% block ingredients %}
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient.content }}</li>
                    {% endfor %}
                </ul>
            {% endblock ingredients %}
        </div>

        <div class="instructions">
            <h3>Preparation</h3>
            {% block instructions %}
                <ol>
                    {% for instruction in recipe.instructions %}
                        <li>{{ instruction.content }}</li>
                    {% endfor %}
                </ol>
            {% endblock instructions %}
        </div>
    </div>
{% endblock content %}
