<!doctype html>
<html>
    <head>
        <title>Recipes</title>
    </head>

    <body>
        <h1>Recipes</h1>
        <p>
            <a href="/">Home</a> | {% if session.username %} You are logged in
            as {{ session.username }} |
            <a href="/logout">Log out</a>
            {% else %}
            <a href="/login">Log in</a> |
            <a href="/register">Register</a>
            {% endif %}
        </p>
        <hr />
        <h2>Register</h2>
        <form action="/create-user" method="post">
            <p>
                Username: <br />
                <input type="text" name="username" />
            </p>
            <p>
                Password: <br />
                <input type="password" name="password1" />
            </p>
            <p>
                Password again: <br />
                <input type="password" name="password2" />
            </p>
            <input type="submit" value="Create account" />
        </form>
    </body>
</html>
