<!doctype html>
<html>
    <head>
        <title>Recipes</title>
    </head>

    <body>
        <form action="/create-user" method="post">
            <p>
                Username: <br />
                <input type="text" name="username" />
            </p>
            <p>
                Password: <br />
                <input type="password" name="password1" />
            </p>
            <p>
                Password again: <br />
                <input type="password" name="password2" />
            </p>
            <input type="submit" value="Luo tunnus" />
        </form>
    </body>
</html>
