{% from "macros.html" import recipe_list %}
{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
    <h2>Search</h2>
    <form action="/search" method="get">
        <p>
            Query:
            {% if query %}
                <input type="text" name="q" value="{{ query }}" />
            {% else %}
                <input type="text" name="q" />
            {% endif %}
            <button type="submit">Search</button>
        </p>
    </form>

    {% if query %}{{ recipe_list(recipes) }}{% endif %}
{% endblock %}
