{% from "macros.html" import recipe_list %}
{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block content %}
    <h2>Search</h2>
    <form action="/search" method="get">
        <p>
            <label for="search-query">Query</label><br />
            <input
                type="text"
                id="search-query"
                name="q"
                value="{{ query or '' }}"
            />
            <button type="submit">Search</button>
        </p>
    </form>

    {% if query %}{{ recipe_list(recipes) }}{% endif %}
{% endblock %}
