{% from "macros.html" import tag_list %}
{% extends "layout.html" %}
{% block title %}All tags{% endblock %}
{% block content %}
    <h2>All tags</h2>
    {% if tags %}
        {{ tag_list(tags) }}
        <p class="pagination">
            {% if page > 1 %}
                <a href="?page={{ page-1 }}"><button>←</button></a>
            {% endif %}
            Page {{ page }} / {{ page_count }}
            {% if page < page_count %}
                <a href="?page={{ page+1 }}"><button>→</button></a>
            {% endif %}
        </p>
    {% else %}
        <p>No tags found.</p>
    {% endif %}
{% endblock %}
