{% from "macros.html" import recipe_list %}
{% extends "layout.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    <h2>User {{ user.username }}</h2>
    {% if user.is_owner %}
        <h3>Your draft recipes</h3>
        {% if user.drafts %}
            {{ recipe_list(user.drafts ) }}
            {% if user.more_drafts %}
                <div class="pagination">
                    <a href="/user/{{ user.username }}/drafts" class="more"
                        >All draft recipes →</a
                    >
                </div>
            {% endif %}
        {% else %}
            <p>You do not have any draft recipes.</p>
        {% endif %}
    {% endif %}
    <h3>Authored recipes</h3>
    {% if user.authored %}
        {{ recipe_list(user.authored) }}
        {% if user.more_authored %}
            <div class="pagination">
                <a href="/user/{{ user.username }}/recipes" class="more"
                    >All authored recipes →</a
                >
            </div>
        {% endif %}
    {% else %}
        <p>This user hasn't published any recipes yet.</p>
    {% endif %}
    <h3>Favorite recipes</h3>
    {% if user.favorites %}
        {{ recipe_list(user.favorites) }}
        {% if user.more_favorites %}
            <div class="pagination">
                <a href="/user/{{ user.username }}/favorites" class="more"
                    >All favorite recipes →</a
                >
            </div>
        {% endif %}
    {% else %}
        <p>This user has not favorited any recipes yet.</p>
    {% endif %}
{% endblock %}
